body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* AllWatches */
.unavailable-watch {
  color: red;
}

/* Cart */
.cart-container {
  margin: 1em 2.5em 2.5em 2.5em;
}

.cart-product-row {
  display: flex;
}

.cart-product-row div {
  flex-basis: 5em;
  flex-grow: 1;
}

.cart-quantity-container {
  display: flex;
}

.cart-quantity-container button,h4 {
  /* flex-basis: 0.5em; */
  flex-grow: 1;
  text-align: center
}

.purchase-button {
  text-align: center;
}

.minus-button {

}

.delete-button {

}

.quantity-error {
  color: rgb(182, 48, 48);
  font-weight: bold;
}

/* admin */
.admin {
  display: flex
}

.admin-menu {
  height: -webkit-fill-available;
}

.view-as-user {
  color: white;
}

.view-as-user:hover {
  color: white;
}
