* {
  box-sizing: border-box;
  margin: auto 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav div {
  text-align: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

#main-title {
  /* height: 5em; */
  padding-top: 1em;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 0.75em;
}

/* AllWatches */
.all-watches {
  margin: 5em;
}

.all-watches-form {
  margin-bottom: 3em;
  display: flex;
}

.all-watches-form div{
  flex-basis: 7em;
  flex-grow: 1;
}

.all-watches-card-container {
  display: flex;
}

.all-watches-card-container > div {
  margin-bottom: 5em;
  flex-basis: 4em;
  flex-grow: 1;
}

.all-watches-single-card{
  height: 30em;
}

.all-watches-img {
  height: 15em;
  object-fit: cover;
}

.unavailable-watch {
  color: red;
}

/* Single Watch */
.single-watch-image {
  max-height: 400px;
  max-width: 600px;
}

/* admin */
.admin {
  display: flex
}

.admin-menu {
  height: -webkit-fill-available;
}

.view-as-user {
  color: white;
}

.view-as-user:hover {
  color: white;
}

.order-status-dropdown {
  margin-bottom: 1em;
}

/* Cart */
.quantity-error {
  color: rgb(182, 48, 48);
  font-weight: bold;
}

/* Checkout */
.checkout-container {
  margin: 5em;
}

.checkout-column {
  padding: 1em;
}

.checkout-form {
  display: flex;
  flex-wrap: wrap;
  padding: 3em 4em 3em 3em;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
}

.checkout-form div {
  flex-basis: 100%;
}

