* {
  box-sizing: border-box;
  margin: auto 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav a:hover {
  font-weight: bold;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav div {
  text-align: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

#main-title {
  /* height: 5em; */
  padding-top: 1em;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 0.75em;
}

/* AllWatches */
.all-watches {
  margin: 5em;
}

.all-watches-form {
  margin-bottom: 3em;
  display: flex;
}

.all-watches-form div{
  flex-basis: 7em;
  flex-grow: 1;
}

.all-watches-card-container {
  display: flex;
}

.all-watches-card-container > div {
  margin-bottom: 5em;
  flex-basis: 4em;
  flex-grow: 1;
}

.all-watches-single-card{
  height: 30em;
  transition: all, 0.2s;
}

.all-watches-single-card:hover {
  box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
}

.all-watches-img {
  height: 15em;
  object-fit: cover;
}

.unavailable-watch {
  color: red;
}

/* Single Watch */
.single-watch-container {
  margin: 5em;
}
.single-watch-image {
  max-height: 400px;
  max-width: 600px;
}

/* All Orders */
.order-container {
  margin: 5em;
}

.order-listing {
  margin-top: 5em;
}

/* Review Form */
.review-form-title-content {
  display: flex;
  flex-direction: column;
}

.review-form-title {
  margin: 0;
}

/* Reviews */
.all-reviews-container {
  margin: 5em;
}

.all-reviews-title {
  padding-bottom: 5em;
}

.single-review-container {
  margin-bottom: 5em;
}

.review-content {
  margin-top: 1em;
}

/* admin */
.admin {
  display: flex;
}

.button.ui.primary.button.add-watch-button {
  margin-bottom: 1em;
}

.ui.inverted.vertical.bottom.attached.admin-menu.menu {
  min-width: 12em;
  max-width: 12em;
}

.view-as-user {
  color: white;
}

.view-as-user:hover {
  color: white;
}

.order-status-dropdown {
  margin-bottom: 1em;
}

.watch-form {
  display: flex;
  flex-direction: column;
}

.ui.input.watch-form-field {
  width: 30%;
  margin-bottom: 0em;
  margin-top: 0em;
}

/* Cart */
.cart-container {
  margin: 5em;
}

.purchase-button {
  float: right;
}

.quantity-error {
  color: rgb(182, 48, 48);
  font-weight: bold;
}

.add-review-button {
  margin-left: 1em;
}

/* Checkout */
.checkout-container {
  margin: 5em;
}

.checkout-column {
  padding: 1em;
}

.checkout-form {
  display: flex;
  flex-wrap: wrap;
  padding: 3em 4em 3em 3em;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
}

.checkout-form div {
  flex-basis: 100%;
}
