body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* AllWatches */
.all-watches {
  margin: 1em;
}

.all-watches-float{
  margin-left: 3em;

}
.all-watch-form{
  padding: 15px;
}

.all-watch-card{
  background-color: rgba(247, 242, 241, 0.893);
}

.all-watch-card-title{
  background-color: rgba(233, 230, 229, 0.893);
}

.all-watch-single-card{

}
.unavailable-watch {
  color: red;
}
/* Cart */
/* .cart-container {
}

.cart-product-row {
  display: flex;
}

.cart-product-row div {
  flex-basis: 5em;
  flex-grow: 1;
}

.cart-quantity-container {
  display: flex;
}

.cart-quantity-container button,h4 {
  flex-grow: 1;
  text-align: center
}

.purchase-button {
  text-align: center;
}

.minus-button {

}

.delete-button {

} */

.quantity-error {
  color: rgb(182, 48, 48);
  font-weight: bold;
} */

/* admin */
.admin {
  display: flex
}

.admin-menu {
  height: -webkit-fill-available;
}

.view-as-user {
  color: white;
}

.view-as-user:hover {
  color: white;
}

.order-status-dropdown {
  margin-bottom: 1em;
}

/* Checkout */
.checkout-container {
  margin: 5em;
}

.checkout-column {
  padding: 1em;
}

.checkout-form {
  display: flex;
  flex-wrap: wrap;
  padding: 3em 4em 3em 3em;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
}

.checkout-form div {
  flex-basis: 100%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 91d1b1002be7083f597fa205c2a7290f5ad53151
